// variable
$colorLightText = #ff9500
$colorLightBg = #f4f4f4
$colorLightPointer = #e66000
$colorDarkText = #0095dd
$colorDarkBg = #4d4e53
$colorDarkPointer = #00539f
$sizeClock = 200px
$sizeShadow = 10px
$sizePlate = 80%
// function
shadow(p_attr)
    -webkit-box-shadow p_attr
    -moz-box-shadow p_attr
    -ms-box-shadow p_attr
    -o-box-shadow p_attr
    box-shadow p_attr
transform(p_attr, p_origin)
    -webkit-transform p_attr
    -moz-transform p_attr
    -ms-transform p_attr
    -o-transform p_attr
    transform p_attr
    -webkit-transform-origin p_origin
    -moz-transform-origin p_origin
    -ms-transform-origin p_origin
    -o-transform-origin p_origin
    transform-origin p_origin
radius(p_radius)
    -webkit-border-radius p_radius
    -moz-border-radius p_radius
    -ms-border-radius p_radius
    -o-border-radius p_radius
    border-radius p_radius

// layout
header,main,footer
    position absolute
    overflow hidden
    display block
    float left
header
    z-index 12000
main
    z-index 10000
    width 100%
    height 100%
    background $colorLightBg
    section
        position relative
        padding 0 10%
        &.time-plate
            height $sizePlate
            width 80%
            .time-cycle
                float left
                shadow(0 0 $sizeShadow #888, inset 0 0 $sizeShadow*.5 #333)
                overflow hidden
                position absolute
                float left
                height $sizeClock
                width $sizeClock
                margin 0 - $sizeClock*.5
                top 50%
                left 50%
                background $colorDarkBg
                radius(50%)
                .time-point
                    position absolute
                    height 500px
                    width 100px
                    left 50%
                    bottom 50%
                    transform(rotate(-85deg) skew(-80deg), left bottom)
                    &.point_second
                        background $colorLightPointer
                        z-index 30
                    &.point_minute
                        background lighten($colorLightPointer, 40%)
                        z-index 20
                    &.point_hour
                        background lighten($colorLightPointer, 80%)
                        z-index 10
                .time-panel
                    overflow hidden
                    position absolute
                    height $sizeClock*.9
                    width $sizeClock*.9
                    top $sizeClock*.05
                    left $sizeClock*.05
                    z-index 100
                    shadow(inset 0 0 $sizeShadow #c1c4c1)
                    background $colorLightBg
                    radius($sizeClock*.45)
        &.time-text
            height 100% - $sizePlate
            text-align center
            font-size 2rem
            span
                color $colorLightText
    &.dark
        background $colorDarkBg
        section.time-text span
            color $colorDarkText
        section.time-plate .time-cycle
            background $colorLightBg
            .time-panel
                background $colorDarkBg
            .time-point
                &.point_second
                    background $colorDarkPointer
                &.point_minute
                    background lighten($colorDarkPointer, 40%)
                &.point_hour
                    background lighten($colorDarkPointer, 80%)
footer
    z-index 11000