// variable
$colorLightText = #ff9500
$colorLightBg = #f4f4f4
$colorLightPointer = #e66000
$colorDarkText = #0095dd
$colorDarkBg = #4d4e53
$colorDarkPointer = #00539f
$colorPositive = #db5a7a
$colorRelax = #69dbd5
$sizeClock = 200px
$sizeShadow = 10px
$sizeAlarm = 4px
$sizePlate = 75%
$sizeHeightBar = 40px
$sizeSpace = 2px
$sizeFont = 2rem
$sizeFontCenter = 8rem
$timeAlternate = 2s
$timeSwitch = 0.8s
// function
shadow(p_attr)
    -webkit-box-shadow p_attr
    -moz-box-shadow p_attr
    -ms-box-shadow p_attr
    -o-box-shadow p_attr
    box-shadow p_attr
transform(p_attr, p_origin)
    -webkit-transform p_attr
    -moz-transform p_attr
    -ms-transform p_attr
    -o-transform p_attr
    transform p_attr
    -webkit-transform-origin p_origin
    -moz-transform-origin p_origin
    -ms-transform-origin p_origin
    -o-transform-origin p_origin
    transform-origin p_origin
radius(p_radius)
    -webkit-border-radius p_radius
    -moz-border-radius p_radius
    -ms-border-radius p_radius
    -o-border-radius p_radius
    border-radius p_radius
transition(p_target, p_second)
    -webkit-transition p_target p_second
    -moz-transition p_target p_second
    -ms-transition p_target p_second
    -o-transition p_target p_second
    transition p_target p_second

.header,
.main,
.footer
    position absolute
    overflow hidden
    display block
    float left
.header
    z-index 12000
.main
    z-index 10000
    width 100%
    height 100%
    background $colorLightBg
    transition background $timeAlternate
    .section
        position relative
        padding 0 10%
        &.upside
            height $sizePlate
            width 80%
            .time-cycle
                float left
                overflow hidden
                position absolute
                float left
                height $sizeClock
                width $sizeClock
                margin 0 - $sizeClock*.5
                top 50%
                left 50%
                background $colorDarkBg
                box-shadow 0 0 $sizeShadow #CCC, inset 0 0 $sizeShadow*.5 #999
                radius 50%
                transition background $timeAlternate
                .time-point
                    position absolute
                    height 500px
                    width 100px
                    left 50%
                    bottom 50%
                    transform rotate(-85deg) skew(-80deg), left bottom
                    transition background $timeAlternate
                    &.point_second
                        background $colorLightPointer
                        z-index 30
                    &.point_minute
                        background lighten($colorLightPointer, 40%)
                        z-index 20
                    &.point_hour
                        background lighten($colorLightPointer, 80%)
                        z-index 10
                .time-panel
                    overflow hidden
                    position absolute
                    height $sizeClock*.9
                    width $sizeClock*.9
                    top $sizeClock*.05
                    left $sizeClock*.05
                    z-index 100
                    box-shadow inset 0 0 $sizeShadow #AAA
                    background $colorLightBg
                    radius $sizeClock*.45
                    transition background $timeAlternate
                .time-alarm
                    position absolute
                    top 0
                    left $sizeClock*.5 - 0.5px
                    z-index 101
                    display none
                    height $sizeClock*.5
                    width $sizeAlarm
                    transform rotate(0) skew(0), left bottom
                    background $colorDarkBg
                    transition background $timeAlternate
                .time-number
                    overflow hidden
                    position absolute
                    top $sizeClock*.05
                    left $sizeClock*.05
                    z-index 102
                    span
                        display inline-block
                        height $sizeClock*.9
                        line-height $sizeClock*.9
                        width $sizeClock*.9
                        text-align center
                        font-size $sizeFontCenter
                        color $colorLightText
        .time-count
            overflow hidden
            height $sizeHeightBar
            max-height $sizeHeightBar
            opacity 1
            text-align center
            font-size $sizeFont
            transition all, $timeSwitch
            span
                padding 0 $sizeSpace               
                color $colorLightText
                transition color $timeAlternate
    &.dark
        background $colorDarkBg
        .section
            &.downside .time-count span
                color $colorDarkText
            &.upside .time-cycle
                background $colorLightBg
                .time-panel
                    background $colorDarkBg
                .time-point
                    &.point_second
                        background $colorDarkPointer
                    &.point_minute
                        background lighten($colorDarkPointer, 40%)
                    &.point_hour
                        background lighten($colorDarkPointer, 80%)
                .time-alarm
                    background $colorLightBg
                .time-number
                    span
                        color $colorDarkText
    &.positive
        background $colorPositive
        .section
            &.downside .time-count span
                color $colorLightBg
            &.upside .time-cycle 
                .time-panel
                    background $colorPositive
                .time-point
                    &.point_second
                        background $colorDarkBg
                    &.point_minute
                        background lighten($colorDarkBg, 40%)
                    &.point_hour
                        background lighten($colorDarkBg, 80%)
                .time-number
                    span
                        color $colorLightBg
    &.relax
        background $colorRelax
        .section
            &.downside .time-count span
                color $colorLightBg
            &.upside .time-cycle 
                .time-panel
                    background $colorRelax
                .time-point
                    &.point_second
                        background $colorDarkBg
                    &.point_minute
                        background lighten($colorDarkBg, 40%)
                    &.point_hour
                        background lighten($colorDarkBg, 80%)
                .time-number
                    span
                        color $colorLightBg
.footer
    z-index 11000